<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>DOTA2卡尔极速挑战！</title>
    <meta name="ROBOTS" content="INDEX,FOLLOW">
    <meta name="description" content="提高手速,挑战钢琴手卡尔!">
    <meta name="keywords" content="dota, dota 2, invokergame, invoker, game, invoke, quash, wex, exort,卡尔,钢琴手">
    <meta http-equiv="Content-Language" content="zh-cn">
    <script src="scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="scripts/game.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://html2canvas.hertzen.com/build/html2canvas.js"></script>

    <link rel="stylesheet" href="styles/home.css" type="text/css"/>
    <link rel="stylesheet" href="styles/public.css" type="text/css"/>
    <link rel="stylesheet" href="styles/play.css" type="text/css"/>
</head>
<body>


</body>
</html>